@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../abstracts/variables";

//SERVICES CARD
.services {
  display: flex;
  justify-content: center;
  align-items: center;

  &__individualCard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
    font-size: $font-size-h2;
    font-weight: $font-black-weight;
    color: $color-black;
    margin-bottom: 1.2em;
  }

  &__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $card-width;
    height: $card-height;
    padding: $padding-v $padding-h;
    background-image: url(../assets/img/service1.jpg);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    z-index: 0;

    &::before {
      @include overlay($image-black-tint, -2);
    }
    &::after {
      @include overlay($image-red-tint, -1);
    }

    * {
      position: relative;
      z-index: 1;
    }
  }

  &__list {
    width: $list-width;
    position: relative;
    z-index: 1;

    li {
      font-size: $font-size-base;
      font-weight: $font-weight-light;
      list-style: inside;
      color: $color-white;
      margin-bottom: 1em;
      line-height: 3.875rem;
      text-transform: uppercase;
      font-style: italic;
    }
  }
}

//CAROUSEL CARDS

.carousel__card {
  display: flex;
  gap: 1.2rem;
  box-shadow: $box-shadow;
  flex-direction: column;
  justify-content: start;
  position: relative;
  background-image: url(../assets/img/tournament.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 541px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  z-index: 0;

  &::before {
    @include overlay($image-black-tint, -2);
  }
  &:after {
    @include overlay($image-red-tint, -1);
  }

  &__feature {
    width: min-content;
    padding: 0.5rem;
    color: $color-white;
    font-weight: $font-black-weight;
    @include stripes;
  }
  &__title {
    font-size: 3.5em;
    text-transform: uppercase;
    max-width: 100%;
    color: $color-white;
    line-height: 6rem;
    width: 560px;
    overflow: hidden;
    word-wrap: break-word;

    &__feature {
      color: $color-red;
    }
  }
  &__button {
    z-index: 1;
    align-self: flex-start;
  }
}

//Pricing information cards

.main-content__section8 {
  &__cardPrices {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    overflow: hidden;

    &__card {
      @include card(
        $card-width,
        $card-height,
        $padding-v,
        $padding-h,
        "../assets/img/boxinggg.jpg"
      );

      display: grid;
      grid-template-rows: 1fr, 1fr, minmax(288px), 1fr;

      &__title {
        color: $color-red;
        font-weight: $font-black-weight;
      }

      &__price {
        font-size: $font-size-h4;
        color: $color-white;
        text-decoration: underline;
      }
      &__features {
        width: $list-width;
        position: relative;
        z-index: 1;

        li {
          display: flex;
          justify-content: flex-start;
          font-size: $font-size-base;
          height: 5rem;
          font-weight: $font-weight-light;
          list-style: none;
          color: $color-white;
          margin-bottom: 0.5em;
          line-height: 3rem;
          text-transform: uppercase;
          font-style: italic;
        }
      }

      &__button {
        align-self: center;
      }
    }
  }
  &__cardPrices > :first-child {
    background-image: url(../assets/img/boxinggg.jpg);
    background-repeat: no-repeat;
  }
  &__cardPrices > :nth-child(2) {
    background-image: url(../../assets/img/kickboxing.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
  &__cardPrices > :last-child {
    background-image: url(../assets/img/spartan.jpg);
    background-position: center center;
    background-repeat: no-repeat;
  }
}

// <h2 class="main-content__section8__title">
//             Plans and Pricing
//           </h2>

//           <div class="main-content__section8__cardPrices">

//             <div class="main-content__section8__cardPrices__card">
//               <h3 class="main-content__section8__cardPrices__card__title">
//                 Boxing Package
//               </h3>
//               <span class="main-content__section8__cardPrices__card__price">$50</span>

//               <ul class="main-content__section8__cardPrices__card__features">
//                 <li>First month for free</li>
//                 <li>3 classes per week</li>
//                 <li>Access to events and discounts</li>
//                 <li>Cancel anytime</li>
//               </ul>
//             </div>
